{% extends "::base.html.twig" %}

{% block title %}{{ event.name }}{% endblock %}

{% block body %}
    {#<h1>Number: {{ event.index }}</h1>#}
    <h1>{{ event.name }}</h1>
    <p>{{ event.description }}</p>
    <p>Start date: {{ event.start_date }}</p>
    <p>Numero de charlas: {{ event.talks_count }}  </p>
    <p>Event Uri: {{ event.uri | split('events/', 2)[1] }}</p>
{% endblock %}
