{% extends "BloggerBlogBundle::layout.html.twig" %}


{% block body %}
    {#<h1>Welcome{% if is_granted("ROLE_USER") %}{{ ', ' ~ app.user.username }}{% endif %}!</h1>#}
    {#{% for post in blogposts %}#}
        {#<article>#}
            {#<h2><a href="{{ path('blogger_post_view', {id : post.id}) }}">#}
                    {#{{ post.title | title }}</a></h2>#}

            {#<p>{{ post.content | nl2br }}</p>#}

            {#<p>#}
                {#<small>Created by {{ post.user }} at {{ post.published | date('H:i d/m/y') }}</small>#}
            {#</p>#}
        {#</article>#}

<h1>Welcome{% if is_granted("ROLE_USER") %}{{ ', ' ~ app.user.username }}{% endif %}!</h1>

    <h3>Here are the most recent books available for your reviewing pleasure ! </h3>














































{% for book in bookposts %}
    <article>
        <h2><a href="{{ path('blogger_book_view', {id : book.id}) }}">
                {{ book.title | title }}</a></h2>
        <img src="{{ asset('uploads/pictures/') ~ book.picture }}" height="200">

        <p>Author: {{ book.bookAuthor }}</p>
        <p>Published: {{ book.yearPublished | date('d/m/y') }}</p>
            <small>Posted by {{ book.submittedBy }} at {{ book.timeStamp|date('H:i d/m/y') }}</small>
    </article>

{% endfor %}































    {% if pagecount > 1 %}
        {%  for i in 1..pagecount %}
            <a href="{{ path('index', {'page':i}) }}">
                {{ i }}
            </a>
        {% endfor %}
    {% endif %}

{% endblock %}
