{% extends "::base.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}

    <img src="{{ asset('uploads/pictures/') ~ book.picture }}" width="200" height="200">

    <h2>{{ book.title }}</h2>

    <p>Author: {{ book.bookAuthor }}</p>
    <p>Publish date: {{ book.yearPublished|date('d/m/y') }}</p>


    <p><small>By {{ book.submittedBy }} </small><a href="{{ path('blogger_book_edit', {'id': book.id}) }}">edit</a></p>

    <a href="{{ path('blogger_post_create', {'bookId': book.id }) }}">Review this book</a>

    <hr>
    <h3>Reviews</h3>

    {% if book.posts %}
        {% for post in book.posts %}

            <hr>
            <h4>{{ post.title }}</h4>

            <p><small>By {{ post.user }} on {{ post.published|date('H:i d/m/y') }}</small></p>

            <p>{{ post.content }}</p>

        {% endfor %}
    {% endif %}

{% endblock %}
