{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

    <div class="container">
        {% if item.volumeInfo.imageLinks is defined %}
            <img src="{{ item.volumeInfo.imageLinks.smallThumbnail }}" style="width: 25%">
        {% else %}
         <img src="{{ asset('uploads/pictures/') ~ book.picture }}" height="200">
        {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col"><h2>{{ book.title }}</h2></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Description:</th>
            <td>{{ book.description }}</td>
        </tr>

        <tr>
            <th scope="row">Author(s):</th>
            {% for author in item.volumeInfo.authors %}
                <td>({{ loop.index }}): {{ author }}</td>
            {% endfor %}
        </tr>

        {% if item.volumeInfo.publishedDate is not defined %}
            <tr>
                <th scope="row">Publish date:</th>
                <td>{{ item.volumeInfo.publishedDate }}</td>
            </tr>
        {% else %}
            <tr>
                <th scope="row">Publish date:</th>
                {#<td>{{ book.publishedear }}</td>#}
            </tr>
        {% endif %}


        {% if item.volumeInfo.categories is defined %}
            {% for category in item.volumeInfo.categories %}
                <tr>
                    <th scope="row">Category(s): </th>
                    <td>({{ loop.index }}): {{ category }}</td>
                </tr>
            {% endfor %}
        {% endif %}

        {% if item.volumeInfo.averageRating is defined %}
            <tr>
                <th scope="row">Average rating on google books:</th>
                    <td>{{ item.volumeInfo.averageRating }}</td>
            </tr>
        {% endif %}

        {% if item.saleInfo.buyLink is defined %}
        <tr>
            <th scope="row">Buy this book:</th>
            <td><a href="{{ item.saleInfo.buyLink }}">Here</a></td>
        </tr>
        {% endif %}



        <!-- if the poster id is the same as current user hide -->
        {% if book.submittedBy == app.user %}

        <tr>
            <th scope="row"><a href="{{ path('blogger_book_edit', {'id': book.id}) }}">Edit this post</a></th>
        </tr>

        {% endif %}

        </tbody>
    </table>

    <a href="{{ path('blogger_post_create', {'bookId': book.id }) }}">Review this book</a>

    <hr>

        {% if book.posts|length < 1 %}
            <h3>No Reviews yet</h3>
        {% else %}
            <h3>Reviews</h3>
        {% endif %}

    {% if book.posts %}
        {% for post in book.posts %}

            <hr>
            <h4>{{ post.title }}</h4>

            <p>{{ post.content }}</p>

            {% if post.like %}
                <p><strong>Thoughts:</strong> Loved it!</p>
            {% else %}
                <p><strong>Thoughts:</strong> Hated it!</p>
            {% endif %}

            <p><small>By <a href="{{ path('blogger_stranger', {'id': post.user.id }) }}">{{ post.user }}</a> on {{ post.published|date('H:i d/m/y') }}</small></p>

        {% endfor %}
    {% endif %}
    </div>

{% endblock %}


